* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.conteiner {
    margin: auto;
    background-size: cover;
    background-color: rgb(104, 166, 236);
}

.inicio {
    margin-top: 25px;
}

.sobre {
    margin-top: 25px;
}

.contacto {
    margin-top: 25px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: aliceblue;
}